.text {
  white-space: nowrap;
  width: 100%;
  overflow: hidden; /* "overflow"-Wert darf nicht "visible" sein */
  text-overflow: ellipsis;

}

.viewport{
  height: 75vh;
  width: 100%;
  overflow-y: scroll;
}

.example-card {
  text-align: center;
  //height: 350px;
  //width: 250px;
}

div.img {
  height: 150px;

  img {
    max-height: 150px;
    max-width: 100px;
  }
}


.list-item {
  cursor: pointer;
}

.bordered {
  background: white;
  border: 1px solid #cccccc;
  border-radius: 5px;

}
